@use 'bootstrap_custom';
@use 'fontawsome_custom';
@use 'libs/markdown';

@use 'navigation';
@use 'responsive';
@use 'animations';
@use 'typography';
@use 'aboutme_welcome';
@use 'archives';
@use 'blogs';
@use 'changelogs';
@use 'comments';
@use 'highlight';
@use 'footer';
@use 'like_and_weixin';
@use 'about';
@use 'home';

.turbo-progress-bar {
  height: 4px;
  background: linear-gradient(90deg, #4f46e5, #06b6d4);
}

img {
  display: block;
}